body,h1,h2,label,select,input,button{
    margin: 0;
    padding: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    background-color: #e90ee6;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1{
    font-size: 36px;
}

main{
    padding: 40px;
    text-align: center;
}

.appointment-form{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

label{
    display: block;
    margin-bottom: 10px;
}

select,input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    background-color: #0e64e6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: #464545;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}