body,h1,h2,label,input,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header{
    background-color: #00c9fc;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.patients-data{
    background-color: #fff;
    width: 300px;
    /* border: 2px solid red; */
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;    
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
h2{
    text-align: center;
}

input{
    width: 100%;
    display: block;
    padding: 10px 0;
    border-radius: 3px;
    border: none;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

textarea{
    width: 98%;
    height: 80px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button{
    padding: 8px 5px;
    width: 25%;
    margin: 5px 10px 0;
    border-radius: 3px;
    border: none;
    color: white;
}

.reset{
    background-color:rgba(255,0,0,0.7);
}
.submit{
    background-color: #00c9fc;
}

.view{
    background-color: #0a52a3;
}










footer{
    background-color: #464545;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}